binary-name={{ .BinName }}

build:{{ if .Templ }} templ-build{{ end }}
{{"\t"}}@GOOS=windows GOARCH=amd64 go build -o ./bin/${binary-name}-win.exe {{ .BinRoute }}
{{"\t"}}@GOOS=linux GOARCH=amd64 go build -o ./bin/${binary-name}-linux {{ .BinRoute }}
{{"\t"}}@GOOS=darwin GOARCH=amd64 go build -o ./bin/${binary-name}-darwin {{ .BinRoute }}

run: build
{{"\t"}}@./bin/${binary-name}-linux
{{if .Arm}}
arm-build:
{{"\t"}}@GOOS=linux GOARCH=arm64 go build -o ./bin/${binary-name}-arm64 {{ .BinRoute }}

arm-run: arm-build
{{"\t"}}@./bin/${binary-name}-arm64{{end}}
{{ if .Test }}
test:
{{"\t"}}@go test {{ .BinRoute }}
{{ end }}
clean:
{{"\t"}}@rm -rf ./bin/*
{{"\t"}}@go clean
{{ if .Tailwind }}
css-build:
{{"\t"}}@tailwindcss -i ./static/css/input.css -o ./static/css/style.css

css-watch:
{{"\t"}}@tailwindcss -i ./static/css/input.css -o ./static/css/style.css --watch{{ end }}
{{ if .Templ }}
templ-build:
{{"\t"}}@templ generate

templ-watch:
{{"\t"}}@templ generate --watch{{ end }}
